*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    background: transparent;
}

body{
    background: rgb(11,14,19);
    color:white;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}
