.navbar{
    /* background: white;
    color: black; */
    height: 6rem;
    width: 100%;
    margin:0 auto;
    padding: 1rem 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 3;
}

.logo {
    /* object-fit sets how the content of a replaced element, should be resized to fit its container. */
    object-fit:cover;
    height:3rem;
    width:4rem;
}

.desktopMenuListItem{
    margin:1rem;
    cursor:pointer
}

.desktopMenuListItem:hover{
    /* color: #150ed2; */
    padding-bottom: 0.5rem;
    /* border-bottom:3px solid #150ed2; */
    border-bottom:3px solid white;

}

.desktopMenuBtn{
    background:#150ed2;
    color:white;
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1rem 2rem;
    border-radius:2rem;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    cursor: pointer;
}

.desktopMenuBtn:hover{
    background:white;
    color:#150ed2;
}
.desktopMenuImg{
    object-fit:cover;
    height:1rem;
    width:1rem;
    margin:1rem;
}