.navbar{
    background: rgb(11,14,19);
    /*color: black; */
    height: 5rem;
    width: 100%;
    margin:0 auto;
    padding: 1rem 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 3;
}

.logo {
    /* object-fit sets how the content of a replaced element, should be resized to fit its container. */
    object-fit:cover;
    height:3rem;
    width:4rem;
}

.desktopMenuListItem{
    margin:1rem;
    cursor:pointer
}

.desktopMenuListItem:hover{
    /* color: #150ed2; */
    padding-bottom: 0.5rem;
    /* border-bottom:3px solid #150ed2; */
    border-bottom:3px solid white;

}

.desktopMenuImg{
    object-fit:cover;
    height:1rem;
    width:1rem;
    margin:1rem;
}

@media screen and (max-width: 652px) {
    .desktopMenuBtn{
        display:none;
    } 
}

@media screen and (max-width: 468px) {
    .logo{
        display:none;
    } 
}
