#intro {
    width: 100%;
    margin-top: 6rem;
    padding: 0 2rem;
    position: relative;
    color: white;
    margin-bottom: 9rem;
}

.illustration {
    position: absolute;
    bottom:-3rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 70vh;
    /* see for the image*/
}

.introPresentation {
    font-size:3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.presentationParagraph {
    margin: 1rem 0 1rem 0;
    color:rgb(126,128,130);
    font-size: 1.3rem;
    font-weight: 500;
}

.presentationParagraph span {
    font-weight: 700;
    color:rgb(157,159,161);
}

.introTitle {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom:1rem;
}

.introName {
    color: rgb(21,14,210);
}

.introParagraph {
    font-size: medium;
    font-weight: 500;
}

@media screen and (max-width: 840px) {
    .illustration {
        display:none;
    }
}

@media screen and (max-width: 750px) {
    #intro {
        margin-top: 3rem;
    }
}



@media screen and (max-width: 420px) {
    .introPresentation {
        font-size:2rem;
    }

    .presentationParagraph {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

}



/* @media screen and (max-width: 768px) {
    .illustration {
        height: 40vh;
        bottom: 0;
        right: -10vw;
    }
    .introContent {
        font-size: 2rem;
    }
} */